a{
    text-decoration: none;
    color: white;
    background: blue;
    display: inline-block;
}

p{
    background: lightblue;
}

.px {
    font-size: 24px;
    padding: 16px 32px;
}


.rem{
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

section{
    background: tomato;
    height: 40vh;
    width: calc(100vw/2);
}
.test{
    background: lightblue;
    height: 50%;
    width: 30vw;
}